/* ==========================================================================
   Media Queries
   ========================================================================== */
   
    @media (max-width: 1496px) {
        video {
            top: 50%;
        }
        .banner_sec{
            min-height: 75vh;
        }
    }

  @media (max-width: 1366px) {
    .mentem_section ul li p {
      font-size: 16px;
      line-height: 21px;
      padding: 149px 20px 20px 20px;
    }
    .awar_text p {
      width: 83%;
    }
    .arrow_img {
      width: 100%;
      transform: translate(-10rem, 19px);
    }
    .arrow_img img{
      width: 475px;
    }
    .step1 p {
      width: 100%;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      margin-top: 3px;
    }
    .univ_section ul li {
      width: 93%;
    }
    .video_gallery {
      padding-left: 15px;
    }
    .banner_sec video{
      top:50%;
    }
    .page_title p {
      width: 100%;
    }
    .step1 h1 {
      font-size: 18px;
      line-height: 1;
    }
    .blog_card .card h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
    }
    .blog_card .card small img {
      width: 17px;
      height: 17px;
      vertical-align: sub;
    }
    .we_do_text p {
      width: 90%;
    }
    .we_do_sec2 .we_do_text h1, .we_do_sec2 .we_do_text p {
      color: #fff;
      width: 100%;
    }
    .sol_2 p{
      width: 90%;
    }
    .team_list .card p{
      margin: 0;
    }
    .mt-7 {
      margin-top: 5rem;
    }
    .sol_2 {
      padding: 75px 50px;
    }
    .mentem_sec p{
      width: 75%;
    }
    .sl_step p{
      padding-right: 0;
    }
    .culture_text p{
      margin-top: 18px;
      width: 100%;
    }
    .culture_text {
      padding: 60px 60px;
    }
    .culture_text2 {
      padding: 50px;
    }
    .culture_step {
      margin-top: 20px;
    }
    .culture_step p {
      font-size: 15px;
    }
    .tt_text p {
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0;
    }
    .we_step_btnImg {
      position: absolute;
      width: 93%;
      right: -119px;
      top: 22px;
      z-index: -1;
    }
    .insight_pic {
      width: 61%;
      margin-bottom: 90px;
    }
    .inner_banner {
            min-height: 35vh;
    }
  }
  @media (max-width: 1120px) {
      .sol_2 {
            padding: 50px 50px;
        }
        .banner_sec{
            min-height: 64vh;
        }
        .inner_banner {
            min-height: 20vh;
        }
  }
  @media (max-width: 920px) {
    
    .header {
      position: relative;
      padding: 0;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 8;
      background: rgba(255, 255, 255, 1);
    }
    .navbar-brand img {
      width: 136px;
    }
    .fixed .navbar-brand img {
      width: 136px;
    }
    .navbar-light .navbar-toggler {
      position: absolute;
      width: 70px;
      right: 0;
      background: #fff;
      border-radius: 0;
      bottom: -56px;
      z-index: 9;
      text-align: right;
    }
    .navbar-light .navbar-toggler-icon {
      width: 30px;
    }
    .navbar-toggler:focus {
      box-shadow:none;
    }
    .fixed{
      position: fixed;
      background:#fff;
      z-index:9;
    }
    .demo_btn {
      font-size: 12px;
      padding: 8px 13px;
      margin-left: 0;
      position: absolute;
      right: 9px;
    }
    .navbar-collapse{
      position: absolute;
      width: 100%;
      left: 0;
      background: #fff;
      top: 63px;
      z-index: 2;
    }
    .navbar-light .navbar-nav .nav-link {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      padding: 20px;
    }

    /*-------Menu toggle---------*/

    .navbar-light .navbar-toggler {
      position: absolute;
      width: 62px;
      height: 62px;
      background: transparent;
      padding: 1px;
      border-radius: 0;
      cursor: pointer;
      bottom: 0;
      z-index: 9;
      text-align: right;
      right: 36%;
      border: 0;
    }

    /* .menu-toggle {
      width: 62px;
      height: 62px;
      background: #D75858;
      padding: 1px;
      cursor: pointer;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -31px;
      margin-left: -31px;
    } */
    .menu-toggle:active, .menu-toggle.active {
      background: #BA61FF;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .menu-toggle:active span, .menu-toggle.active span {
      background: #BA61FF;
    }
    
    .menu-toggle,
    .menu-toggle span {
      transition: background 0.3s;
    }
    
    .menu-toggle__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .menu-toggle__inner span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      margin: -1px 0 0 -15%;
      background: #BA61FF;
      height: 2px;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: all 0.5s;
    }
    .menu-toggle__inner span:nth-child(1) {
      margin-top: -7px;
      -webkit-animation: toNormal1 1s forwards ease-out;
              animation: toNormal1 1s forwards ease-out;
    }
    .menu-toggle__inner span:nth-child(2) {
      opacity: 1;
    }
    .menu-toggle__inner span:nth-child(3) {
      margin-top: 5px;
      -webkit-animation: toNormal2 1s forwards ease-out;
              animation: toNormal2 1s forwards ease-out;
    }
    
    body.nav-open .menu-toggle .menu-toggle__inner {
      transform: matrix(-1, 0, 0, -1, 0, 0);
      transition: all 1.6s cubic-bezier(0.85, -0.475, 0.435, 1);
    }
    body.nav-open .menu-toggle span:nth-child(1) {
      -webkit-animation: toActive1 1.5s forwards ease-out;
              animation: toActive1 1.5s forwards ease-out;
    }
    body.nav-open .menu-toggle span:nth-child(2) {
      opacity: 0;
    }
    body.nav-open .menu-toggle span:nth-child(3) {
      -webkit-animation: toActive2 1.5s forwards ease-out;
              animation: toActive2 1.5s forwards ease-out;
    }
    
    @-webkit-keyframes toActive1 {
      0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      25% {
        transform: matrix(1, 0, 0, 1, 0, 6);
      }
      40% {
        transform: matrix(1, 0, 0, 1, 0, 6);
      }
      100% {
        transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 6);
      }
    }
    
    @keyframes toActive1 {
      0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      25% {
        transform: matrix(1, 0, 0, 1, 0, 6);
      }
      40% {
        transform: matrix(1, 0, 0, 1, 0, 6);
      }
      100% {
        transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 6);
      }
    }
    @-webkit-keyframes toActive2 {
      0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      25% {
        transform: matrix(1, 0, 0, 1, 0, -6);
      }
      40% {
        transform: matrix(1, 0, 0, 1, 0, -6);
      }
      100% {
        transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -6);
      }
    }
    @keyframes toActive2 {
      0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      25% {
        transform: matrix(1, 0, 0, 1, 0, -6);
      }
      40% {
        transform: matrix(1, 0, 0, 1, 0, -6);
      }
      100% {
        transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -6);
      }
    }
    @-webkit-keyframes toNormal1 {
      0% {
        transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 6);
      }
      75% {
        transform: matrix(1, 0, 0, 1, 0, 6);
      }
      100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
    @keyframes toNormal1 {
      0% {
        transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 6);
      }
      75% {
        transform: matrix(1, 0, 0, 1, 0, 6);
      }
      100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
    @-webkit-keyframes toNormal2 {
      0% {
        transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -6);
      }
      75% {
        transform: matrix(1, 0, 0, 1, 0, -6);
      }
      100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
    @keyframes toNormal2 {
      0% {
        transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -6);
      }
      75% {
        transform: matrix(1, 0, 0, 1, 0, -6);
      }
      100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
    video{
      top: 50%;
    }
    .banner_sec h1 {
      font-size: 28px;
      color: #fff;
    }
    
    .banner_sec {
      padding: 0;
      min-height: 42vh;
      background: #000;
    }
    .banner_sec p {
      font-size: 14px;
      color: #fff;
      width: 85%;
    }
    .banner_content {
        top: 27%;
    }
    .drop_scroll a {
      width: 60px;
      height: 60px;
      padding: 14px;
    }
    .why_sec {
      padding: 40px 0;
    }
    .page_title p {
      width: 100%;
    }
    .counter_sec {
      margin-top: 31px;
    }
    .count_tex p {
      font-size: 13px;
      margin-top: 15px;
    }
    .count_tex {
      width: 30%;
    }
    .mentem_section ul li {
      width: 28.5%;
      margin: 10px;
    }
    .mentem_section ul {
      padding: 0;
      margin-top: 35px;
      justify-content: center;
    }
    .mentem_section ul li p {
      font-size: 14px;
      line-height: 24px;
      padding: 155px 10px 15px 15px;
      font-weight: 400;
    }
    .awar_text{
      margin-bottom: 20px;
    }
    .unsw_award {
      padding: 40px 0;
      background: #F3F3F3;
    }
    .how_it_works {
      padding: 40px 0 80px 0 !important;
    }
    .hw_itRow{
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
    }
    .arrow_img {
      width: 64%;
      transform: inherit;
      /* top: 0; */
      left: 8%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .arrow_img img {
      width: 100%;
    }
    .hw_it1{
      padding: 0;
      margin: 25px 0;
    }
    .hw_it2{
      padding: 0;
      margin: 25px 0 0 0;
    }
    .testimonial_sec {
      padding: 40px 0;
    }
    .provider_logo {
      width: 100%;
      margin: 50px auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .provider_logo li {
      width: 23%;
      padding: 10px;
    }
    .provider_logo li img{
      width: 100%;
    }
    .blog_card {
      margin-top: 40px;
    }
    .univ_section ul{
      margin-top: 25px;
      margin-bottom: 0;
    }
    .univ_section ul li {
      width: 100%;
      font-size: 18px;
      line-height: 29px;
      padding-left: 64px;
    }
    .univ_section ul li::before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      width: 32px;
      height: 32px;
      background: url(../img/ar_r.png) no-repeat 0 0;
      background-size: 100%;
    }
    footer ul {
      display: block;
    }
    footer ul li {
      width: 100%;
      padding: 15px;
      height: auto;
      display: block;
      border: none;
    }
    footer ul li:nth-child(2) {
      width: 100%
    }
    footer ul li:nth-child(3), footer ul li:nth-child(4){
      width: 100%;
    }
    footer .demo_btn {
      position: relative;
      right: 0;
    }
    .univ_s1 p {
      font-size: 12px;
      line-height: 23px;
      margin: 20px 0;
    }
    .univ_s1 img{
      width: 150px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .univ_section {
      background: url(../img/usp_bg.png) no-repeat center center;
      background-size: cover;
      padding: 40px 0;
    }
    .hz_border {
      width: 1px;
      height: 96px;
      background: #000;
      margin: 60px auto;
    }
    .inner_banner{
      background: #F3F3F3 !important;
    }
    .inner_banner h1{
      color: #000 !important;
    }
    .culture_text {
      padding: 30px 15px;
    }
    .culture_text p{
      width: 100%;
    }
    .culture_text2 {
      padding: 30px 15px;
    }
    .team_list{
      margin-top: 0 !important;
    }
    .team_list .card h1 {
      font-size: 16px;
    }
    .team_list .card p {
      margin-top: 0;
    }
    .mt-7 {
      margin-top: 2rem;
    }
    .demo_btn4 {
      padding: 8px 25px;
      margin-top: 40px;
      width: auto;
    }
    .s1_sec p {
      margin-top: 20px;
      width: 100%;
    }
    .sol_2 {
      padding: 20px 15px;
    }
    .sol_2 p{
      width: 100%;
    }
    .mentem_sec{
      border:0;
    }
    .sl_step h1,  .sl_step p{
      padding-right: 0;
    }
    .form-part {
      padding: 30px 20px;
    }
    .form_header p{
      width: 100%;
    }
    .we_do_text p{
      width: 100%;
    }
    .we_do_text{
      margin-bottom: 20px;
    }
    .we_do_sec2 .we_do_text{
      padding: 0;
      margin-top: 20px;
    }
    .mentem_sec p {
      width:100%;
    }
    .mentem_sec{
      padding: 20px 0;
    }
    .we_sp_btn {
      width: 70%;
    }
    .we_sp_btn img {
      width: 81%;
      right: -122px;
      top: 42px;
    }
    .inner_banner{
      background: #F3F3F3 !important;
      min-height: 29vh !important;
    }
    .video_section{
      margin: 30px 0;
    }
    .we_doStep{
        padding:0;
    }
  }

  @media (max-width: 768px) {
    .backto_top{
      display: none;
    }
    .insight_pic {
      width: 100%;
    }
    .video_gallery2 .swiper-slide {
      height: 300px;
      position: relative;
    }
    .video_gallery .swiper-wrapper {
      position: relative;
      width: 70px;
      height: 50px;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
      justify-content: space-evenly;
    }
    .video_gallery {
      position: relative;
      top: inherit;
      right: inherit;
      width:100%;
      z-index: 1;
      background: #fff;
      padding: 10px !important; 
    }
    .video_gallery2 .paly {
      width: 100%;
    }
    .video_gallery2 .paly img{
      width: 50px;
    }
    .video_gallery .paly {
      height: 57px;
    }
    .video_gallery .paly img {
      margin: 0 !important;
      width: 24px !important;
      height: auto !important;
    }
    .mentem_section ul li p {
        font-size: 12px;
        line-height: 17px;
        padding: 63px 10px 10px 10px;
        font-weight: 400;
    }
  }

  @media (max-width: 640px) {
    .page_title h4 {
      font-size: 26px;
    }
    .banner_sec h1 {
      color: #000 !important;
    }
    .banner_sec p {
      color: #000 !important;
    }
    .banner_content {
      top: auto;
      bottom: 10% !important;
    }
    .banner_sec {
      min-height: 500px !important;
      background: #fff !important;
    }
    video{
      opacity: 1;
      top: 99px !important;
    }
    .demo_btn2 {
      margin-top: 40px;
    }
    .count_tex h3 {
      font-size: 26px;
    }
    .mentem_section ul li p {
      font-size: 12px !important;
    }
    .slid_div {
      display: block;
    }
    .slid_div .tt_text {
      width: 100%;
      padding-left: 0;
      margin-top: 28px;
    }
    .page_title h1 {
      font-size: 24px;
    }
    .mentem_section ul li {
      width: 43.5% !important;
    }
    .provider_logo li {
      width: 33% !important;
    }
    .mentem_section ul li p {
      padding: 75px 10px 10px 10px !important;
        line-height: 14px !important;
    }
    .inner_banner{
      background: #F3F3F3 !important;
      min-height: 302px !important;
    }
    .we_sp_btn{
      width: 100%;
    }
    .we_sp_btn li a {
      font-size: 12px;
      padding: 12px 13px;
    }
    .we_sp_btn li:nth-child(3), .we_sp_btn li:nth-child(4) {
      transform: inherit;
    }
    .we_sp_btn img {
      position: absolute;
      width: 71%;
      right: -1px;
      top: auto;
      z-index: -1;
      bottom: -7.5rem;
    }
    .calculate_btn{
      margin-top: 30px;
    }
    .we_doStep li::before {
      bottom: -172px;
      left: 29px;
      width: 67%;
    }
    .we_doStep li:nth-child(2)::before, .we_doStep li:nth-child(4)::before {
      content: '';
      position: absolute;
      bottom: -172px;
      left: 29px;
      right: auto;
      background: url(../img/we_do_ar1.png) no-repeat 0 0;
      background-size: contain;
      width: 67%;
      height: 170px;
      z-index: 1;
    }
    .count_tex {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
    }
    .count_tex h3{
      width: 85px;
    }
    .count_tex p {
      width: calc(100% - 85px);
      margin: 0;
      padding-left: 20px;
    }
    .demo_btn {
      font-size: 11px !important;
      padding: 8px 10px !important;
    }
    .we_doStep {
      padding: 0;
    }
    .we_doStep li {
      width: 100%;
    }
    .we_doStep li .step_div {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .we_doStep li img {
      width: 196px;
    }
    .blog_card .card img{
      height: auto;
    }
  }

  @media (max-width: 480px) {
   
  }

  @media (max-width: 360px) {
      
     .mentem_section ul li p {
        padding: 58px 10px 10px 10px !important;
    }
  }