.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: #b65ffa !important;
  border: 1px solid #b65ffa;
  width: 15px !important;
  height: 15px !important;
}



